
{% extends 'base.html.twig' %}


{% block body %}
    <div class="banniere">
        <img src="{{ asset('images/banniere2.png') }}" alt="homme_noir" />
    </div>
<div class="container">


    <div class="row">
        <h1><span>Idées de sorties pour le 15 décembre 2017</span></h1>
        <h3>Et si tu viens de changer d'humeur...</h3>

        <p><a href="{{ path('homepage') }}" class="btn" role="button">Nouvelle recherche</a>

    </div>


{% for event in events %}
<div class="regles">
    <div class="col-xs-4 test">
        <div class="thumbnail">
            <div class="caption">
                <h3 class="text-center titres">{{ event.titre }}</h3>
                <p class="text-center">{{ event.theme }}</p>
                <button id="button_{{ event.id }}" class="center-block lire">Description</button>
                <p id="desc_{{ event.id }}" class="cache">{{ event.description }}</p>
                {#<p>{{ event.description }}</p>#}
                <p class="horaire">{{ event.horaire }}</p>
                <p><a href="{{ path('monresultat', {'id' : event.id}) }}" class="btn" role="button">Je veux en savoir plus</a>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        $('#button_{{event.id}}').on('click', function() {
            $('#desc_{{ event.id }}').addClass('visible');
            $('#button_{{ event.id }}').addClass('cache');

        });

    </script>
{% endfor %}

</div>
{% endblock %}
